/*  your css code here. If applicable */
.container{
	display:flex;
	gap:5px;
	justify-content:center;
	align-items:center;
	height:50vh;
}

.panel{
	height:100%;
	overflow:hidden;
	cursor:pointer;
	transition:all 0.3 ease-in-out;
	border-radius: 30px;
}

img{
	height:100%;
	width:100%;
	transition: transfirm 0.3s ease-in-out;
}

.panel img:hover{
	width:100%;
}

.img-text{
	position:relative;
	bottom:0;
	right:0;
	font-size:20px;
	color:white;
	text-align:center;
	margin-top:10px;
	opacity:0;
	transition:opacity 0.3s ease-in-out;
}

.panel .active{
	width:100%;
	opacity:1;
}